<!DOCTYPE html>
<html>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <head>
        <meta charset="utf-8"/>
        <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
        <link rel="stylesheet" href="css/custom.css">
        <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
        {% block head %}
        {% endblock %}

    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li><a href="/homepage">Home</a></li>
                <li><a href="/page1">Selection</a></li>
                <li><a href="/page2">Join</a></li>
                <li><a href="/page3">Division</a></li>
                <li><a href="/page4">Aggregation</a></li>
                <li><a href="/page5">Nested Aggregation</a></li>
                <li><a href="/page6">Delete Without Cascade</a></li>
                <li><a href="/page8">Delete On Cascade</a></li>
                <li><a href="/page7">Update</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>

            </ul>
         </div>
        </nav>
        {% block body %}
        {% endblock %}
    </div>

    <style>
    h1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 30px;
    }
    </style>

    </body>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</html>