{% extends 'gym/base.html' %}


{% block head %}
    <title>Employee Page 2</title>
    <script src="sorttable.js"></script>
{% endblock %}


{% block body %}
    <h1>Join: Get the ID’s and Names of customers who booked rooms</h1>
    <br>
    <h2 style="font-family: Arial;">Select the query to perform:</h2>
    <br>
    <br>
    <br>
    <br>
{#    <h2 style="font-family: Arial;">Select the query to perform:</h2>#}
        <form method="post" action=""> {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" value="Submit" class="btn btn-default">Submit</button>
        </form>

{% endblock %}
