{% extends 'gym/base.html' %}


{% block head %}
    <title>Employee Page 2</title>
{% endblock %}


{% block body %}
    <h1> Join Query: Get custID’s and cusNames of customers who booked rooms</h1>
    <br>
    <h2 style="font-family: Arial;">Select the query you would like to see</h2>
        <form method="post" action=""> {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" value="Submit" onclick="return confirm('Are you sure?')">Submit</button>
        </form>

    <form action="" method="post"> {% csrf_token %}

        <ul>
            <p>
            {% for result in results2 %}
                    <li> {{ result }}</li>
            {% endfor %}
            </p>
        </ul>
    </form>
{% endblock %}
