{% extends 'gym/base.html' %}


{% block head %}
    <title>Employee Page 7</title>
{% endblock %}

{% block body %}
    <h1>Update operation:  Update roomRate of the Basketball Room</h1>
    <br>
    <h2 style="font-family: Arial;">Query: select the updated roomRate for Basketball Room</h2>
    <form method="post" action=""> {% csrf_token %}
        {% comment %}<input type="checkbox" name="roomRate" value="200">$200<br>
        <input type="checkbox" name="roomRate" value="49">$49<br>
        <input type="checkbox" name="roomRate" value="3">$3<br>
        <input type="checkbox" name="roomRate" value="4">$4<br>{% endcomment %}
        {{ form.as_p }}
        {{ form.errors }}
        <br>
        <button type="submit" value="Submit">Submit</button>
    </form>
{% endblock %}