<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        li a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
    <title>Employee Page 4</title>
</head>
<body style="background-color:whitesmoke;">
    <ul style="list-style-type: none;
            margin: 0;
            padding: 0;
            top: 0;
            overflow: hidden;
            border: 1px solid #e7e7e7;
            background-color: #f3f3f3;">
            <li style=" float: left;">
                <a href="../" style="display: block;
                                     color: #666;
                                     text-align: center;
                                     padding: 14px 16px;
                                     text-decoration: none;">Home</a></li>
            <li style=" float: left;">
                <a href="../page1" style="display: block;
                                          color: #666;
                                          text-align: center;
                                          padding: 14px 16px;
                                          text-decoration: none;">Selection</a></li>
            <li style=" float: left;">
                <a href="../page2" style="display: block;
                                          color: #666;
                                          text-align: center;
                                          padding: 14px 16px;
                                          text-decoration: none;">Join</a></li>
            <li style=" float: left;">
                <a href="../page3" style="display: block;
                                          color: #666;
                                          text-align: center;
                                          padding: 14px 16px;
                                          text-decoration: none;">Division</a></li>
            <li style=" float: left;">
                <a class="active" href="../page4" style="display: block;
                                          color: white;
                                          background-color: #00cfce;
                                          text-align: center;
                                          padding: 14px 16px;
                                          text-decoration: none;">Aggregation</a></li>
            <li style=" float: left;">
                <a href="../page5" style="display: block;
                                          color: #666;
                                          text-align: center;
                                          padding: 14px 16px;
                                          text-decoration: none;">Nested Group</a></li>
            <li style=" float: left;">
                <a href="../page6" style="display: block;
                                          color: #666;
                                          text-align: center;
                                          padding: 14px 16px;
                                          text-decoration: none;">Delete</a></li>
            <li style=" float: left;">
                <a href="../page7" style="display: block;
                                          color: #666;
                                          text-align: center;
                                          padding: 14px 16px;
                                          text-decoration: none;">Update</a></li>
            <li style=" float: left;">
                <a href="../login" style="display: block;
                                          color: #666;
                                          text-align: center;
                                          padding: 14px 16px;
                                          text-decoration: none;">Login</a></li>
            <li style=" float: left;">
                <a href="../logout" style="display: block;
                                          color: #666;
                                          text-align: center;
                                          padding: 14px 16px;
                                          text-decoration: none;">Logout</a></li>
        </ul>
    <h1>Aggregation Query: Total # of rooms booked during the week for all customers</h1>
    <br>
    <h2 style="font-family: Arial;">Select the query you would like to see</h2>
        <form method="post" action=""> {% csrf_token %}
            {{ form.as_p }}
        {# <input type="radio" name="AggregationQuery" value="Option 1">Option 1: Total # of rooms booked during the week for all customers<br> #}
       {# <input type="radio" name="AggregationQuery" value="Option 2">Option 2: Total # of equipment booked during the week for all customers<br> #}
            <button type="submit" value="Submit" onclick="return confirm('Are you sure?')">Submit</button>

        </form>

    <form method="post" action=""> {% csrf_token %}
        <ul>
            <h3>
            {% for result in results3 %}
                <li> {{ result }}</li>
            {% endfor %}

            </h3>
        </ul>
    </form>

</body>
</html>