{% extends 'gym/base.html' %}


{% block head %}
    <title>Employee Page 5</title>
{% endblock %}

{% block body %}
    <h1>Nested Aggregation with Group-by: Average equipment rate for each equipment type</h1>
    <br>
    <h2 style="font-family: Arial;">Select the query you would like to see</h2>
    <form method="post" action=""> {% csrf_token %}

        {{ form.as_p }}

        <br>
        <button type="submit" value="Submit">Submit</button>
    </form>

    <form action="" method="post"> {% csrf_token %}

        <ul>
            <p>
            {% for result in results4 %}
                    <li> {{ result }}</li>
            {% endfor %}
            </p>
        </ul>
    </form>
{% endblock %}