{% extends 'gym/base.html' %}


{% block head %}
    <title>Employee Page 3</title>
{% endblock %}


{% block body %}
    <h1>Division: Get all the customers who reserved every equipment</h1>
    <br>
    <h2 style="font-family: Arial;">Select the query to perform:</h2>
    <br>
    <br>
    <br>
    <br>
        <form method="post" action=""> {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit"  value="Submit" class="btn btn-default">Submit</button>
        </form>

{% endblock %}
