{% extends 'gym/base.html' %}


{% block head %}
    <title>Employee Page 1</title>
{% endblock %}

{% block body %}

        <h1>Selection Query: Select all the equipment with a specified type and display selected tuples</h1>
        <br>
            <form action="" method="post"> {% csrf_token %}
                {{ form.as_p }}
                {{ form.errors }}


                <br>
                <button type="submit" value="Submit">Submit</button>
            </form>

       <form action="" method="post"> {% csrf_token %}
       <br>
        <h2>Question: How many rooms are booked during the week for all customers?</h2>
        <ul>
            <p>

            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% for result in results %}
                <li> {{ result }}</li>
            {% endfor %}
            </p>
        </ul>

        </form>
{% endblock %}