{% extends 'gym/base.html' %}


{% block head %}
    <title>Employee Page 3</title>
{% endblock %}


{% block body %}
        <h1>Division Query: Get all customers who reserved every equipment</h1>
        <br>
        <h2 style="font-family: Arial;">Select the query you would like to see</h2>
            <form method="post" action=""> {% csrf_token %}
                {{ form.as_p }}
                {{ form.errors }}

            <button type="submit" value="Submit" onclick="return confirm('Are you sure?')">Submit</button>
        </form>

        <form method="post" action=""> {% csrf_token %}
        <ul>
            <p>
            {% for result in results %}
                    <li> {{ result }}</li>
            {% endfor %}
            </p>
        </ul>
        </form>
{% endblock %}
