{% extends 'gym/base.html' %}


{% block head %}
    <title>Employee Page 5</title>
{% endblock %}

{% block body %}
    <h1>Nested Aggregation with Group-by: Average equipment rate for each equipment type</h1>
    <br>
    <h2 style="font-family: Arial;">Select the query to perform:</h2>
    <form method="post" action=""> {% csrf_token %}

        {%  if form.errors %}
        {% endif %}
        {{ form.as_p }}


        <br>
        <button type="submit" value="Submit" class="btn btn-default">Submit</button>
    </form>

    <form action="" method="post"> {% csrf_token %}
        <div class="container">
             <div>
                <table class="table">
                    <thead>
                        <tr>
                            {% for key in results.0 %}
                                <th> {{ key }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            {% for key, value in result.items %}
                                <td> {{ value }} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
        </div>
    </form>
{% endblock %}