{% extends 'gym/base.html' %}


{% block head %}
    <title>Employee Page 8</title>
{% endblock %}

{% block body %}
    <h1>Delete operation: Delete an customer with a given cusID </h1>
    <br>
    <div id="Delete-on-cascade">
    <h2 style="font-family: Arial;">Query 1: select the customer id you want to delete</h2>
    <form method="post" action=""> {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" value="Submit">Submit</button>
    </form>
    <form method="post" action=""> {% csrf_token %}
        <div class="container">
             <div>
                <table class="table">
                    <thead>
                        <tr>
                            {% for key in results.0 %}
                                <th> {{ key }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            {% for key, value in result.items %}
                                <td> {{ value }} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
        </div>
    </form>
    </div>
{% endblock %}